
<h1>Course_catalog</h1>
<p>Welcome! You can use the tabs down here to access different databases.</p>
<p>
<%= link_to 'Instructors', instructors_path , class: 'btn btn-success'%>
<%= link_to 'Courses', courses_path ,class: 'btn btn-success'%>
<%= link_to 'Subjects', subjects_path ,class: 'btn btn-success'%>
</p>
 
