</br>
</br>
<div class="card text-center">
  <div class="card-header">
    <h5>Welcome to ...</h5>
  </div>
  <div class="card-body">
    <h1 class="card-title">Course Catalog</h1>
  </br>
    <p class="card-text">Search for courses and keep track of your enrolled ones!</p>
  </br>
    <a href="signup" class="btn btn-primary">Sign Up</a>
    <a href="login" class="btn btn-primary">Log In</a>
  </div>
</div>
